.imagen{
  width: 100%;
  height: 100%;
}

.row{
  width: 255px;
  height: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 3%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 4);
  


}

.onOff{
  top: -20px;
  position: absolute;
  left: -1px;
  border-radius: 5px;
  background-color: black;
}

.marco-consola{
  width: 100%;
  height: 50%;
  position: absolute;
  border-radius: 4%;
  border: 45px solid rgb(0, 0, 0);
 

}

.BordePantalla{
  max-width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 5%;
  border: 21px solid rgb(9, 37, 161);
}


.box{
  width: 90%;
  height: 90%; 
  background-image: url("../imagen/fondogris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
  
}


.Cuerpo-Gbc{
  width: 100%;
  height: 54%;
  background-color: rgb(9, 37, 161);
  position: absolute;
  top: 47%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
 
}


.PowerOff{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(110, 109, 109);
  position: absolute;
  top: 25px;
  left: 3%;
  font-size: 7px;
  text-align: left;  
}

.PowerOn{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(156, 17, 17);
  position: absolute;
  top: 25px;
  left: 3%;
  font-size: 7px;
  text-align: left;
}


.text-power{
  color: white;
  font-size: 6px;
  margin-left: -10px;
  margin-top: -125px;

}

.Logo{
  position: absolute;
  top: 44%;
  left: 2%;
  color: rgb(177, 176, 175);





}

.Nintendo{
  margin-top: 81%;
  margin-left: 32%;
}

.GameBoy{
  float: left;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
  margin-left: 40px;
  background-color: black;
}

.GameBoyC{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: red;
  background-color: black;

}

.GameBoyO{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: blueviolet;
  background-color: black;
}

.GameBoyL{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: chartreuse;
  background-color: black;
}

.GameBoyo{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: yellow;
  background-color: black;
}

.GameBoyR{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: aqua;
  background-color: black;
}

.Pad{
  width: 6px;
  height: 6px;
  
 

}

/*Botón arriba*/
.pad-Y1{
  width: 15px;
  height: 18px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 63%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón abajo*/
.pad-Y2{
  width: 15px;
  height: 18px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón izquierda*/
.padX1{
  width: 18px;
  height: 15px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 67%;
  left: 26%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón Derecha*/
.padX2{
  width: 18px;
  height: 15px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 67%;
  left: 14%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.Botones{
  width: 30px;
  height: 25px;
  position: absolute;
  box-shadow: 3px 3px 3px rgb(0,0,0,0,3);
  top: 86%;
  left: 55%;
  transform: rotate(60deg);
  border-radius: 15px;
}

.b-a{
  width: 23px;
  height: 23px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 7px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
}

.b-b{
  width: 23px;
  height: 23px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  position: absolute;
  top: 35px;
  left: 1px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
}

.Botones2{
  width: 90px;
  height: 30px;
  position: absolute;
  top: 75%;
  left: 30%;
}

.Start{
  width: 25px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(41, 41, 41);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 2);
  color: rgb(41, 41, 41);

}

.Select{
  width: 25px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(41, 41, 41);
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
  margin-left: 6px;
}

.text-boton2{
  width: 90px;
  height: 30px;
  position: absolute;
  top: 82%;
  left: 30%;
  font-size: 13px;
  text-shadow: 1px 1px 1px 2px;
  color: rgb(97, 96, 96);

}
