.imagen{
  width: 100%;
  height: 100%;
}

.GameBoyColor{
  width: 250px;
  height: 390px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 3%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 4);


}

.onOff{
  top: -40px;
  position: absolute;
  left: -1px;
  border-radius: 5px;
  background-color: black;
}

.marco-consola{
  width: 100%;
  height: 60%;
  position: absolute;
  border-radius: 5%;
  border: 20px solid rgb(9, 37, 161);

}

.BordePantalla{
  width: 90%;
  height: 50%;
  position: absolute;
  top: 13px;
  left: 12px;
  border-radius: 5%;
  border: 25px solid black;
}


.box{
  width: 100%;
  height: 100%; 
  background-image: url("../imagen/fondogris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.Cuerpo-Gbc{
  width: 100%;
  height: 54%;
  background-color: rgb(9, 37, 161);
  position: absolute;
  top: 47%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
 
}


.PowerOff{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(110, 109, 109);
  position: absolute;
  top: 25px;
  left: -12%;
  font-size: 7px;
  text-align: left;  
}

.PowerOn{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(156, 17, 17);
  position: absolute;
  top: 25px;
  left: -12%;
  font-size: 7px;
  text-align: left;
}


.text-power{
  color: white;
  font-size: 6px;
  margin-left: -22px;
  margin-top: -111px;

}

.Logo{
  position: absolute;
  top: 47%;
  left: 12%;
  width: 80%;
  color: rgb(177, 176, 175);
  background-color: black;
  display: block;
}

.Nintendo{
  margin-top: 81%;
  margin-left: 32%;
}

.GameBoy{
  float: left;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
   margin-left: 25px;
}

.GameBoyC{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: red;
}

.GameBoyO{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: blueviolet;
}

.GameBoyL{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: chartreuse;
}

.GameBoyo{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: yellow;
}

.GameBoyR{
  float: left;
  font-family: monaco,cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: aqua;
}

.Pad{
  width: 60px;
  height: 60px;
  position: relative;
  top: 65%;
  left: 10%;
}

/*Botón arriba*/
.pad-Y1{
  width: 15px;
  height: 18px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón abajo*/
.pad-Y2{
  width: 15px;
  height: 18px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón izquierda*/
.padX1{
  width: 18px;
  height: 15px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

/*Botón Derecha*/
.padX2{
  width: 18px;
  height: 15px;
  background-color: rgb(19, 18, 18);
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.Botones{
  width: 30px;
  height: 25px;
  position: absolute;
  box-shadow: 3px 3px 3px rgb(0,0,0,0,3);
  top: 65%;
  right: 10%;
  transform: rotate(60deg);
  border-radius: 15px;
}

.b-a{
  width: 23px;
  height: 23px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 7px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
}

.b-b{
  width: 23px;
  height: 23px;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  position: absolute;
  top: 35px;
  left: 1px;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
}

.Botones2{
  width: 90px;
  height: 30px;
  position: absolute;
  top: 80%;
  left: 38%;
}

.Start{
  width: 25px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(41, 41, 41);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 2);
  color: rgb(41, 41, 41);

}

.Select{
  width: 25px;
  height: 8px;
  border-radius: 4px;
  background-color: rgb(41, 41, 41);
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,2);
  margin-left: 6px;
}

.text-boton2{
  width: 90px;
  height: 30px;
  position: absolute;
  top: 86%;
  left: 38%;
  font-size: 13px;
  text-shadow: 1px 1px 1px 2px;
  color: rgb(97, 96, 96);

}
